*.narrowPeak
*.bigWig
*.bw
*.tsv*
*.csv*
*.gtf
*chain
*.bed
liftOver
*.RData
*.txt*
*.rds
*.png
*.pdf
*.jpg
*.sav
*.out
__pycache__
*README*
*plots*
*.ipynb.checkpoints*
notuse
.Rproj.user
*.Rproj
.Rhistory
0.External_resources
.ipynb_checkpoints
*.svg
*.fasta
