*.narrowPeak
*.bigWig
*.bw
*.tsv*
*.csv*
*.gtf
*chain
*.bed
liftOver
*.RData
*.rds
*.log
*.env
*.png
*.pdf
*.jpg
*.sav
*.out
__pycache__
*README*
*plots*
*.ipynb.checkpoints*
notuse
.Rproj.user
*.Rproj
.Rhistory
.ipynb_checkpoints
*.svg
*.fasta
.DS_Store
